*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: black; */
}
#navBar{
    position: fixed;     /* Sticks to viewport */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; 
   
    padding:20px;
    display: flex;
    justify-content: flex-end;
    
    background:linear-gradient(360deg,rgb(6, 18, 39),rgb(6, 19, 42));
     
}
nav ul{
    display: inline-flex;
    background-color: rgb(6, 18, 39);
    list-style: none;
    padding : 2 rem;
}

nav ul li a{
    background-color:  rgb(6, 18, 39);
    margin-left: 2.5rem;
    color: rgb(137, 137, 137);
    text-decoration: none;
}
.hero{
    background: url('bg1.jpg') center/cover no-repeat !important;
   
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    height: 100vh !important;
    width: 100vw;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    margin-top: 3.63rem;
    /* z-index: 1000; */
   
   
}
.hero-content{
    
    background: rgba(10, 42, 80, 0.2);
    backdrop-filter: blur(5px);
    border-radius: 16px;
    border: 1px solid rgba(160, 161, 162, 0.2);
    padding: 2rem;
    margin-top: 0.5rem;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
   
}
.heading1{
 color: rgb(255, 255, 255);
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 font-weight: 300;
 font-style: italic;
}


  
@media (max-width: 988px) {
    .hero { height: 50vh; }
    .hero{ width: 100vw;}
}
  @media ((min-width: 500px) and(max-width:712px)) {
    .hero { height:  35vh; }
}


