*{
    background-color: rgba(3, 43, 78, 0.986);
    margin: 0;
    padding: 0;
    box-sizing: 0;
    /* background-image: url('/public/bg.jpg') !important; */
}
#username {
 margin-top: 5rem;
 text-align: center; 
 font-size: 1.2rem; 
 background-color: aliceblue;
 appearance: none;
 border:none;
 border-radius: 10px; 
 font-style: italic; 
 
 display: block;
 width: 25rem;
 height: 2rem;
}
#password{
   
    text-align: center;
    background-color: aliceblue;
    margin-top: 1.5rem;
    appearance: none;
    border:none;
    border-radius: 10px;
    font-size: 1.2rem;  
    font-style: italic; 
    
    display: block;
    width: 25rem;
    height: 2rem;
    
}
#submit_button{
    color: antiquewhite;
    background-color: rgba(60, 255, 102, 0.553);
    appearance: none;
    border:none;
    border-radius: 10px;
    width: 10rem;
    height: 2rem; 
    font-size: 1.2rem;  
    font-style: italic; 
}
#submit_button:hover{
    color: black;
    background-color: rgb(87, 245, 87);
}
.form_outer{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.form_inner{
    display: flex;
    justify-content: start;
}
.form_container{
    display: flex;
    justify-content: center;
   
    width: 40rem;
    height: 40rem;
   
   
}
.formContainer{
   
   
    height:20rem ;
    margin: 7rem;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 2rem;
  
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
    font-size: larger
  
}


.btn_container{
    width: 10rem;
    margin-left: 115px;
    border-radius: 10px;
    display: flex;
    justify-content: center;

}
.page_name{
    border-radius: 5px;
    color: rgb(173, 181, 187);
    text-align: center;
    
}